<h3>Log In:</h3>
<% if @notice %>
  <h4 id="notice" class="errorheading"><%= @notice %></h4>
  <br>
  <br>
<% end %>

<%= form_for @user, :url => url_for(:controller => 'sessions', :action => 'create')  do |f| %>

    <%= f.label :username, "Username:" %>
    <%= f.text_field :username %><br>

    <%= f.label :password, "Password:" %>
    <%= f.password_field :password%>
    <br>
    <br>
    <%= f.submit "Log In" %>

<% end %>
<%= link_to('Log in with Facebook!', '/auth/facebook') %>
<footer>
<p><a href="/">Home</a> or <a href="/signup">Sign up</a> instead</p>
</footer>
