<h3>Sign up:</h3>
<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <%= f.label :username %>
  <%= f.text_field :username%><br>

  <%= f.label :email%>
  <%= f.text_field :email %><br>

  <%= f.label :password %>
  <%= f.password_field :password%>
  <br><br>

  <%= f.submit %>

<% end %>

<footer>
<p><a href="/">Home</a> or <a href="/login">Log in</a> instead</p>
</footer>
