<h3>Sign up:</h3>
<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div>
      <h4 class="errorheading">There were some errors:</h4>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <%= f.label :username, "Username:" %>
  <%= f.text_field :username%><br>

  <%= f.label :email, "Email:" %>
  <%= f.text_field :email %><br>

  <%= f.label :password, "Password:"  %>
  <%= f.password_field :password%>
  <br><br>

  <%= f.submit "Sign Up"  %>

<% end %>

<footer>
<p>Otherwise: <a href="/auth/facebook">Enter using Facebook</a> or <a href="/login">Log in</a></p>
</footer>
