<h2> Hi <%= @user.username %> </h2>

<ul>
<li><a href="/books">See book list</a></li>
<li><%= link_to "Log Out", logout_path, method: :delete %></li>
</ul>

<h2> Here are your reviews: </h2>
<% if @user.reviews.length ==0 %>
  <p>(You have not written a review yet)</p>

<% else %>
  <table>

    <tr>
    <th>Book</th>
    <th>Author</th>
    <th>Stars</th>
    <th>Content</th>
    </tr>

    <% @user.reviews.each do |review| %>
      <tr>
        <td><%= link_to "#{review.book.title}", book_reviews_url(review.book), method: :get %></td>
        <td class="center"><%= review.book.author %></td>
        <td class="center"><%= review.stars %></td>
        <td><%= review.content %></td>
        <td class="center white"><%= link_to "Edit", edit_book_review_path(review.book, review), method: :get %> or <%= link_to "Delete", review_path(review), method: :delete %></td>  
      </tr>
    <% end %>

  </table>

<% end %>
