<p>These are your options:</p>
<ul>
<li><%= link_to "Back to your reviews", user_path(current_user), method: :get %></li>
<li><a href="/reviews/new">Write a new review</a></li>
<li><%= link_to "Log Out", logout_path, method: :delete %></li>
</ul>


<h2> Here's our book list: </h2>
<% if @books.length==0 %>
  <p>
    (There are no books yet)
  </p>
<% else %>
  <ul>
    <% @books.each do |book| %>
      <% if book.average_star_rating %>
        <li><%= book.title %> <font size="-1">(by <%= book.author %>)</font>
        - Avg Star Rating: <%= book.average_star_rating %>
        <% if book.reviews.count == 1 %>
          <% @link_text = "#{book.reviews.count} Review" %>
        <% else %>
          <% @link_text = "#{book.reviews.count} Reviews" %>
        <% end %>
        - <%= link_to "#{@link_text}", book_reviews_url(book), method: :get %>
        </li>
      <% else %>
        <li><%= book.title %> <font size="-1">(by <%= book.author %>)</font>
        - Avg Star Rating: N/A
        </li>
      <% end %>
    <% end %>
  </ul>
<% end %>
<footer>
  <br>

</footer>
