<h4>Book: <%= @book.title%> by <%= @book.author%></h4>

<%= form_for ([@book, @review]) do |f| %>

  <% if @review.errors.any? %>
    <div>
      <h4 class="errorheading">There were some errors:</h4>
      <ul>
        <% @review.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :stars, "How many stars?:" %><br>
  <%= f.radio_button :stars, '0', :checked => true %> 0 Stars<br>
  <%= f.radio_button :stars, '1' %> 1 Star<br>
  <%= f.radio_button :stars, '2' %> 2 Stars<br>
  <%= f.radio_button :stars, '3' %> 3 Stars<br>

  <br>
  <br>

  <%= f.label :content, "What did you think?:" %><br>
  <%= f.text_area(:content, size: '50x5') %>

  <br>
  <br>

  <%= f.submit %>
<% end %>
<footer>
  <br>
  <%= link_to "See your reviews", user_path(current_user), method: :get %>
  <br>
  <%= link_to "See book list", books_path, method: :get %>
</footer>
