<p>These are your options:</p>
<ul>
<li><%= link_to "Back to your reviews", user_path(current_user), method: :get %></li>
<li><%= link_to "See book list", books_path, method: :get %></li>
<li><%= link_to "Log Out", logout_path, method: :delete %></li>
</ul>


<h3> Here are all the reviews for <%= @book.title %> <font size="-1">(by <%= @book.author %>)</font>:</h3>
<% if @reviews.length ==0 %>
  <p>(This book has no reviews yet)</p>

<% else %>
  <h4> Average Star Rating: <%=@book.average_star_rating%></h4>
  <table>

    <tr>
    <th>Reviewer</th>
    <th>Stars</th>
    <th>Content</th>
    </tr>
    <% @reviews.each do |review| %>
    <tr>
      <td><%= review.user.username %></td>
      <td class="center"><%= review.stars %></td>
      <td><%= review.content %></td>
      <% if current_user.id == review.user.id %>
        <td class="white"><a href="/reviews/<%=review.id %>">See your review</a></td>
      <% end %>
    </tr>
    <% end %>

  </table>

<% end %>
