<p>These are your options:</p>
<ul>
<li><%= link_to "Back to your reviews", user_path(current_user), method: :get %></li>
<li><%= link_to "See book list", books_path, method: :get %></li>
<li><%= link_to "Log out", logout_path, method: :delete %></li>
</ul>

<p> Here is a particular review by <%= @review.user.username %>: <p>
<p><b>Book:</b> <%= @review.book.title %></p>
<p><b>Author:</b> <%= @review.book.author %></p>
<p><b>Star Rating:</b> <%= @review.stars %></p>
<p><b>Content:</b> <%= @review.content %></p>
<br>
<%= link_to "Delete Review", review_path, method: :delete %><br>
<% if @review.user == current_user %>
  <%= link_to "Edit Review", edit_book_review_path(@review.book, @review), method: :get %><br>
<% end %>
